<script src="js/main.js"></script>
</body>
<!-- <footer>
    <p>Disclaimer, this app is operated and ownered by Saheer Bank. For a safe banking for all our customers. Happy Banking!!!</p>
</footer> -->
</html>